Zambrano Moya Angelo Paul <azambranom18@uteq.edu.ec> Angelo Zambrano <azambranom18@uteq.edu.ec>

Kevin German Contreras Chavez <kcontrerasc3@uteq.edu.ec> <kcontrerasc3cloud@users.noreply.github.com>
Kevin German Contreras Chavez <kcontrerasc3@uteq.edu.ec> <kevin11contreraschavezdroid@users.noreply.github.com>

Morán Pilaguano Frixon Fernando <fmoranp@uteq.edu.ec> FrixonMP <fmoranp@uteq.edu.ec>
